/* work sans font from google  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.text-light-gray {
    color: #727272;
    ;
}

/* header styles    */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style: none;
    font-size: 1rem;
    margin-right: 30px;
}

nav li a {
    color: #424242;
    text-decoration: none;
}

.banner-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
}

.btn-primary {

    border: 0;
    border-radius: 8px;
    padding: 20px 25px;
    background-color: #FF900E;
    color: #FFF;
    cursor: pointer;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* teams related style */
main {
    max-width: 1400px;
    margin: 50px auto;
}

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .quick-list {
    font-size: 2.8rem;
    font-weight: 500;

}

.text-feature {
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
}

.teams-description {
    font-size: 1rem;
    font-weight: 400;
}

/* facts related style */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border: 1px solid #FF900E;
    border-radius: 8px;
    text-align: center;
    padding: 40px;
}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    font-size: 1rem;
    font-weight: 600;
}

/* sponsor related styles */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;
}

/* features related styles */
.features {
    margin-top: 130px;
    display: flex;
    gap: 70px;
}

.feature-content .feature-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-title {
    font-size: 3rem;
    font-weight: 700;
}

.feature-content .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-img {
    margin-top: 150px;
}

.feature-img img {
    height: 80%;
    margin-left: 90px;
}


.ten-year-badge {
    width: 340px;
    padding: 40px;
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-year-badge h2 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.ten-year-badge p {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
}

/* Media query */

/* for mobile device */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .feature-img {
        margin-top: 0;
    }

    .feature-img img {
        width: 100%;
        margin-left: 0;

    }

    .ten-year-badge {
        position: static;
        width: 80%;
    }

    .facts-card-container {
        gap: 20px;
    }

    .sponsors-img-container img {
        width: auto;
    }
}

/* for iPad device*/
@media screen and (min-width: 576px) and (max-width:970px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container,
    .features {
        flex-direction: column;
    }

    .feature-img {
        margin-top: 0;
    }

    .feature-img img {
        width: 100%;
        margin-left: 0;
    }

    .ten-year-badge {
        max-width: 300px;
        margin: 0 auto;
    }

    .sponsors-img-container img {
        width: 100px;
    }

}